<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">Steuern ändern</label>
    <label lang="en">Change taxes</label>

    <version>2.0.3</version>
    <copyright>(c) by shopware AG</copyright>
    <license>mit</license>
    <link>http://store.shopware.com</link>
    <author>shopware AG</author>

    <description>Temporary VAT reduction from 01 July to 31 December. The VAT in Germany will be reduced from 19 to 16 and from 7 to 5 %.</description>
    <description lang="de">Befristete MwSt.-Senkung vom 01. Juli bis zum 31. Dezember wird die MwSt. in Deutschland von 19 auf 16 sowie von 7 auf 5 % gesenkt.</description>

    <compatibility minVersion="5.2.0"/>

    <changelog version="2.0.3">
        <changes lang="en">PT-12211 - Check cron time while saving;</changes>
        <changes lang="de">PT-12211 - Überprüft die Cron-Zeit beim Speichern;</changes>
    </changelog>

    <changelog version="2.0.2">
        <changes lang="en">PT-12211 - Fixed Shopware 5.2 compatibility;</changes>
        <changes lang="de">PT-12211 - Shopware 5.2 Kompatibilität hergestellt</changes>
    </changelog>

    <changelog version="2.0.1">
        <changes lang="en">PT-12210 - Fixed error in the pseudo price calculation;</changes>
        <changes lang="de">PT-12210 - Behebt einen Fehler in der Pseudopreis-Berechnung;</changes>
    </changelog>

    <changelog version="2.0.0">
        <changes lang="en">
            PT-12186 - Existing tax rates are now selectable;
            PT-12187 - Pseudo prices can now also be adjusted;
            PT-12188 - "Other tax rates" can now also be changed in the basic settings;
            PT-12189 - Prices of the plugins SwagCustomProducts and SwagBundle are now also adjusted;
        </changes>
        <changes lang="de">
            PT-12186 - Bestehende Steuersätze sind nun auswählbar;
            PT-12187 - Pseudopreise können nun auch angepasst werden;
            PT-12188 - "Sonstige Mwst-Sätze" in den Grundeinstellungen können nun mit angepasst werden;
            PT-12189 - Preise der Plugins SwagCustomProducts und SwagBundle werden nun ebenfalls mit angepasst;
        </changes>
    </changelog>

    <changelog version="1.0.3">
        <changes lang="en">Fixed Shopware 5.2 compatibility</changes>
        <changes lang="de">Shopware 5.2 Kompatibilität hergestellt</changes>
    </changelog>

    <changelog version="1.0.2">
        <changes lang="en">Added confirmation box for executing tax change button, fixed a cronjob issue</changes>
        <changes lang="de">Bestätigungsfenster zum Ausführen von Steueränderungen hinzugefügt, Cronjob Fehler behoben</changes>
    </changelog>

    <changelog version="1.0.1">
        <changes lang="en">Fixed meta tags in plugin.xml</changes>
        <changes lang="de">Meta Tags in plugin.xml angepasst</changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="en">Initial version</changes>
        <changes lang="de">Initial version</changes>
    </changelog>
</plugin>
